html, body {
   background-color: #39484b;   
    min-height: 100%; 
    height: 100%;
}

header {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.8em;
  font-size: 1.8vw;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  background: url(bgtop.png);
  background-size: 100% 100%;
  padding-top: 8%;
  border-sizing: border-box;
}

.container {
  background-color: #39484b;
  width: 40%;
  margin: 0 auto;
  position: relative;
  border-sizing: border-box;
  font-size: 1.2em;
  font-size: 1.2vw;
  font-family: 'Raleway', sans-serif;
}

.spacer {
  position: relative;
  padding-top: 100%;
  background-image: url(bg.png);
  background-size: cover;
}

.circle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
  margin: 18%;
  background-color: #39484b;
  color: #fff;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;
  display: block;
  border: 5px solid #2bcbcd;
}

.circle:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -2%;
}

.circle .wrapcontent {
  display: inline-block;
  vertical-align: middle;
}

.container > i[class^="fi-"] {
  position: absolute;
  font-size: 2em;
  color: #889193;
  display: block;
  width: 12%; height: 12%;
  line-height: 2em;
  border-radius: 50%;
  text-align: center;
  border: 2px solid transparent;
}

.container > i[class^="fi-"]:hover {
  border: 2px solid #889193;
  color: #889193;
}   

i[class^="fi-"].active, i[class^="fi-"].active:hover {
  color: #2bcbcd;
  border: 2px solid #2bcbcd;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.fi-torso { top: 0; left: 44%;}
.fi-calendar { top: 8%; right: 18%; }
.fi-clock { top: 31%; right: 3%; }
.fi-heart { top: 57%; right: 3%; }
.fi-key { bottom: 8%; right: 18%; }
.fi-lock { bottom: 0; left: 42%; }
.fi-price-tag { bottom: 8%; left: 18%; }
.fi-comment { top: 31%; left: 3%; }
.fi-trash { top: 57%; left: 3%; }
.fi-eye { top: 8%; left: 18%; }

.circle i {
  font-size: 1.8em;
  font-size: 1.8vw;
  color: #2bcbcd;
}

.circle h1 {
  font-weight: bold;
  font-size: 1.4em;
  font-size: 1.4vw;
}

.circle p {
  font-size: 0.9em;
  font-size: 0.9vw;
  line-height: 1.9em;
}
