/*
    Styles specific to a page go in here
*/

/* Styles specific to Roadwork detail page */

#dp.rw {
    
}

/* Styles specific to Permit detail page */

#dp.pe {
    
}

#dp.pe .innerlabel {
	color: #545454;
}

/* Styles specific to Project detail page */

#dp.pr {
    
}

#dp.pr table {
  font-size: 11.5px;   
}

#dp.pr table caption {
  text-align: left;
  padding: 3px 0;
  font-style: italic;
}

#dp.pr table th {
  background-color: #CECECE;  
}

#dp.pr table td {
	vertical-align: top;   
}

#dp.pr table tr {
	border-bottom: 1px solid #CECECE;    
}

#dp.pr table dl dt {
	text-align: left;    
}

#dp.pr table dl dd {
  padding-right: 0;   
}

/* Styles specific to Roadwork detail page */

#dp.rw {
    
}

#dp.rw table tr {
  border-bottom: 1px solid #E5E5E5;    
}

#dp.rw table tr:last-child {
  border-bottom: none;    
}

#dp.rw table td.desc {
  width: 60%;  
}

#dp.rw table td.size {
  width: 12%;   
}

#dp.rw table td.quantity {
  text-align: right; 
  width: 6%; 
}

#dp.rw table td.unittype {
  width: 10%; 
  padding-left: 2px;
  color: #545454;
}

#dp.rw table td.itemprice {
  text-align: right;  
  width: 12%; 
}

#dp.rw table td.subtotal {
  border-top: 1px solid gray;
  font-style: italic;
  color: #545454;
}

#dp.rw table td.total {
  border-top: 1px solid gray;
  font-weight: bold;
}

#dp.rw table.costbreakdown tr {
  border: none;
}

#dp.rw table.costbreakdown td:first-child {
  width: 8%;
  color: #545454;
}

